Job Scraper/J_b Scraper.json
{
  "name": "J*b Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -4912,
        176
      ],
      "id": "10aaebd9-105b-4b25-adf6-b2154b25bf1a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "74b47dbb-0046-4dc0-8130-7bcd55e6cba0",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Junior",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "396465b5-47b2-4ecf-b075-2c0ed0c74d25",
              "leftValue": "={{ $json.title }}",
              "rightValue": "Graduate",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -3696,
        176
      ],
      "id": "bc32a98f-7405-4d51-8bb8-ff107feb500f",
      "name": "Graduate/Junior Filter"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link, companyName",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -3504,
        176
      ],
      "id": "92ca4a44-f9f1-45cf-9f8a-4f2dba69a17f",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "include": "selectedOtherFields",
        "fieldsToInclude": "title, companyName, location, descriptionText, link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3872,
        176
      ],
      "id": "22710ea8-fd79-43a7-88bb-93bad002b74a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "",
          "cachedResultUrl": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4720,
        176
      ],
      "id": "b1a85cbf-ed7f-48d3-bfd1-4814cc89deae",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VF9Br1nsbm41UZh9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=New jobs for {{ $('Schedule Trigger').item.json['Readable date'] }} have been added! ",
        "options": {
          "avatar_url": "",
          "username": "J*b application"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "73af71f1-eed8-41fa-befd-89700150c480",
      "name": "Discord",
      "webhookId": "4a72c657-f0af-4abb-bd22-bfeae0c7757a",
      "retryOnFail": true,
      "credentials": {
        "discordWebhookApi": {
          "id": "ZXqWyWwpBkKszIha",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "592b11f9-4056-4f8b-baf3-6d5c2edd742d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        144
      ],
      "id": "113bc290-ad90-4be2-8c12-390021d00b79",
      "name": "Loop"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        160
      ],
      "id": "e21897c5-c54b-4b15-a653-12a29d240bb2",
      "name": "J*b sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VF9Br1nsbm41UZh9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "customBody": ""
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -4064,
        176
      ],
      "id": "a1c13811-a0f8-4264-92a4-c6ca4243e56f",
      "name": "J*b Scraper",
      "credentials": {
        "apifyApi": {
          "id": "Eo5RPTymLizoo8Hh",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:8b",
          "mode": "list",
          "cachedResultName": "llama3.1:8b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are summarising a job listing.\n\nPlease read the job description below and produce a short summary of the role in 2–3 sentences. Focus on what the role involves and the type of work the developer will be doing. Just provide the short description, nothing else before or after.\n\nJob Description:\n{{ $json.descriptionText }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -3328,
        176
      ],
      "id": "e513fc36-55d2-4b1d-8e71-dd90f1725fb6",
      "name": "J*b description",
      "credentials": {
        "ollamaApi": {
          "id": "jjFvlv2L9XFblPF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:8b",
          "mode": "list",
          "cachedResultName": "llama3.1:8b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are analysing a job listing.\n\nPlease read the job description below and extract the key skills the employer is looking for.\n\nOnly list technical skills such as:\n\n* programming languages\n* frameworks\n* tools\n* technologies\n\nReturn the skills ONLY as a bullet point list, do not put anything before or after it. Make sure skills are not duplicated either.\n\nJob Description:\n{{ $('Remove Duplicates').item.json.descriptionText }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -3024,
        176
      ],
      "id": "82349b42-627e-41ed-9bcb-5f1fb38bde7c",
      "name": "J*b Skills",
      "credentials": {
        "ollamaApi": {
          "id": "jjFvlv2L9XFblPF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6c56480-d2a0-479c-915a-9b9f7fa7df4d",
              "name": "text",
              "value": "=CANDIDATE: Aryan Kora\nCONTACT: Aryan240@outlook.com | 07448758117 | https://linktr.ee/AryanKora\n\nSUMMARY:\nFinal year BSc Computer Science student at Aston University (Expected 2026). Junior Software Developer with project-based experience building, deploying, and maintaining web applications. No professional full-time employment — all experience is from university projects and personal projects. Strong interest in automation, scalable system design, and clean code.\n\nSTRONGEST SKILLS: React, Node.js, JavaScript, PHP (Laravel), Docker, Nginx, REST APIs, Git\n\nFULL SKILL SET:\n- Frontend: React, JavaScript (ES6+), TypeScript (familiar), HTML5, CSS3, TailwindCSS (familiar), DOM manipulation, browser APIs\n- Backend: Node.js, Express, PHP (Laravel), Python, Java, REST APIs\n- Databases: Firestore, MySQL, NoSQL concepts\n- Cloud & DevOps: Docker, Google Cloud Run, Linux, Nginx, reverse proxy, Cloudflare, SSL, Pub/Sub\n- Tools: Git, GitHub, API integration, third-party SDK integration, n8n, Ollama, Groq API\n- No experience with: AWS, Azure, Kubernetes, Spring Boot, .NET, Ruby, Go, Rust, Angular, Vue, C#\n\nPROJECTS:\n\n[1] Lead Full-Stack Developer — E-Commerce Platform (2025)\nStack: Laravel, PHP, MySQL, HTML, CSS, JavaScript, Docker, Cloudflare, Git\n- Led 8-person agile team, delivered production-ready platform, 86.28% grade\n- Built REST APIs in Laravel, responsive frontend, Docker containerisation\n- GitHub: https://github.com/Aryboy240/ecommerce-Project\n\n[2] Junior Software Engineer — Video Sharing Platform (2025–Present)\nStack: React, Node.js, TypeScript, Firestore, Docker, Google Cloud Run\n- Component-based React frontend, REST API design, Firestore NoSQL querying\n- Docker + Google Cloud Run deployment\n- GitHub: https://github.com/Aryboy240/video-share-project\n\n[3] Automation & AI Engineering (2026–Present)\nStack: n8n, JavaScript, Groq API, Whisper, Telegram API, Google APIs, Docker, Ollama\n- Multi-agent AI assistant via Telegram (voice + text) managing emails, calendar, contacts\n- Email categorisation system using LLM classification (Gmail labels)\n- Job scraping pipeline (LinkedIn, Indeed, Glassdoor) with AI CV scoring and cover letter generation\n- Whisper speech-to-text transcription for voice automation\n- Local LLM inference with Ollama on AMD RX 7900 XTX\n- GitHub: https://github.com/Aryboy240/koralabs-n8n-workflows\n\n[4] Infrastructure & DevOps — Self-Hosted Homelab (2026–Present)\nStack: Docker, Linux, Nginx, Cloudflare, SSL, Networking\n- Fully containerised server environment with Docker Compose\n- Deployed Plex, Prowlarr, Radarr, Sonarr, Immich, Nextcloud, Pi-hole\n- Nginx reverse proxy with SSL, Cloudflare DNS, port forwarding, firewall rules\n- GitHub: https://github.com/Aryboy240/koralabs-homelab\n\n[5] Frontend Developer — Little Dessert Shop Website (2022)\nStack: HTML, CSS, JavaScript, Netlify\n- Responsive business website, DOM manipulation, Netlify deployment\n- GitHub: https://github.com/Aryboy240/little-dessert-shop-website\n\nEDUCATION:\nBSc Computer Science — Aston University (Expected 2026)\n- Website Team Project: 86.28%\n- Data Structures & Algorithms: 77.2%\n- Object Oriented Programming: 86.44%",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4544,
        176
      ],
      "id": "8793b5f4-375e-4556-ab36-5eefe160359a",
      "name": "CV"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:8b",
          "mode": "list",
          "cachedResultName": "llama3.1:8b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a CV skills extractor. Carefully read every section of the CV below including the personal profile, core technical skills, and every project entry. Extract ALL technical skills mentioned anywhere in the document.\n\nInclude:\n- Programming languages\n- Frameworks and libraries\n- Tools and platforms\n- Cloud services and infrastructure\n- APIs and third-party services\n- Concepts and methodologies (e.g. REST APIs, NoSQL, reverse proxy, DOM manipulation)\n\nRules:\n- Do not duplicate skills\n- Do not miss skills that appear only in project descriptions\n- Do not include soft skills like \"leadership\" or \"communication\"\n- Return ONLY a bullet point list, nothing before or after it\n\nHere is the CV:\n\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -4368,
        176
      ],
      "id": "013a5c96-5a47-4d71-a437-e425e289ac1c",
      "name": "CV Skills",
      "credentials": {
        "ollamaApi": {
          "id": "jjFvlv2L9XFblPF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2672,
        176
      ],
      "id": "9e84f48b-b69b-4274-80f9-7b69e448ea37",
      "name": "Send job skills"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Remove Duplicates').item.json.descriptionText }}",
        "options": {
          "systemMessage": "=You are a strict job compatibility scorer. Your only task is to compare two skill lists and return a score.\n\n------\nARYAN'S SKILLS:\n{{ $('CV Skills').item.json.content }}\n------\nJOB REQUIRED SKILLS:\n{{ $json.content }}\n------\n\n## How to Score\n1. Count how many of the job's required skills appear in Aryan's skill list\n2. Calculate the match percentage (matched skills / total job skills)\n3. Apply the penalties below\n4. Return the final score\n\n## Penalties\n- Heavy penalty (-2): Role requires 2+ years professional experience, or majority of required skills are not in Aryan's list\n- Moderate penalty (-1): 1 year experience required, or 1-2 required skills missing from Aryan's list\n- No penalty: Junior/graduate level, most required skills present\n\n## Scoring Guide\n- 5: 80%+ skill match, junior/graduate level\n- 4: 60-79% skill match, minor gaps only\n- 3: 40-59% skill match, some gaps or slightly too senior\n- 2: 20-39% skill match, wrong tech stack or requires experience\n- 1: Under 20% skill match, unrelated role\n- 0: Job skills list is empty or too vague to evaluate\n\n## Strict Rules\n1. If job skills list is empty or too vague — return 0, never guess\n2. Do NOT factor in job title — only compare the two skill lists\n3. Be harsh — underscore rather than overscore\n4. Aryan has NO professional employment — only project experience\n5. Do NOT include skills Aryan does not have — only match against skills explicitly listed in his skill list\n\n## Output\nYour response must contain ONLY a single digit between 0 and 5.\nNo brackets, no explanation, no reasoning, no notes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2320,
        192
      ],
      "id": "ba1fa74c-ba41-4779-a546-e13b72533154",
      "name": "J*b scoring"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Remove Duplicates').item.json.descriptionText }}",
        "options": {
          "systemMessage": "=You are a cover letter writing specialist for Aryan Kora.\n\n------\n\nHere is my CV:\n\n{{ $('CV').item.json.text }}\n\n------\n\n## Rules\n1. Write a concise, professional cover letter tailored specifically to the job listing provided\n2. Highlight only the skills and experience most relevant to the role — do not list everything\n3. Keep it to 3 paragraphs maximum\n4. Use the actual company name from the job listing — never use placeholders like [Company Name]\n5. Reference specific projects or technologies that are directly relevant to the role\n6. Be genuine and confident but not arrogant — Aryan is a junior developer with strong project experience\n7. Do not fabricate experience or skills Aryan does not have\n8. End with \"Kind regards, Aryan Kora\"\n\nCRITICAL: Output the cover letter text ONLY. Do not include any preamble like \"Here is the cover letter...\" or any closing remarks after the letter. Start directly with \"Dear\" and end with \"Kind regards, Aryan Kora\". Nothing before, nothing after.\n\n## Output\nRespond with only the cover letter text, nothing else.\n\nHere is the job description:\n{{ $('Remove Duplicates').item.json.descriptionText }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -960,
        176
      ],
      "id": "e2ce7d74-8701-4cd0-8c76-86096ef601f3",
      "name": "Cover Letter Maker"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1600,
        160
      ],
      "id": "849a7c1f-a31d-45d1-b1ae-e4f6163df9ff",
      "name": "Rate Limit Prevention",
      "webhookId": "d453587f-0160-4758-a4b9-9d6cbaa5c782"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -512,
        176
      ],
      "id": "7bf2142b-0362-41f7-97c4-f76a30d62731",
      "name": "Wait for letter",
      "webhookId": "d453587f-0160-4758-a4b9-9d6cbaa5c782"
    },
    {
      "parameters": {
        "amount": 2.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        224,
        160
      ],
      "id": "e8089899-9df9-4082-87b6-0065f6e6e595",
      "name": "Wait for sheet",
      "webhookId": "d453587f-0160-4758-a4b9-9d6cbaa5c782"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1872,
        192
      ],
      "id": "4bb83e19-35b8-4561-9d23-9832705f83d1",
      "name": "Wait for score",
      "webhookId": "d453587f-0160-4758-a4b9-9d6cbaa5c782"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1312,
        160
      ],
      "id": "d6adf578-6049-41dc-8aa2-d2a6452465d0",
      "name": "Send CV"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -960,
        432
      ],
      "id": "7194cff3-1f42-477a-9853-b26dbf161727",
      "name": "Cover Letter AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2320,
        448
      ],
      "id": "6286d53f-4f13-4c88-b3a0-df8019646005",
      "name": "Scoring AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graduate/Junior Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Graduate/Junior Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "J*b description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "J*b sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J*b sheet": {
      "main": [
        [
          {
            "node": "Wait for sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J*b Scraper": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J*b description": {
      "main": [
        [
          {
            "node": "J*b Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J*b Skills": {
      "main": [
        [
          {
            "node": "Send job skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV": {
      "main": [
        [
          {
            "node": "CV Skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CV Skills": {
      "main": [
        [
          {
            "node": "J*b Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send job skills": {
      "main": [
        [
          {
            "node": "Rate Limit Prevention",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "J*b scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "J*b scoring": {
      "main": [
        [
          {
            "node": "Wait for score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover Letter Maker": {
      "main": [
        [
          {
            "node": "Wait for letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Prevention": {
      "main": [
        [
          {
            "node": "Send CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for letter": {
      "main": [
        [
          {
            "node": "Send CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for sheet": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for score": {
      "main": [
        [
          {
            "node": "Send job skills",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send CV": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cover Letter Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cover Letter AI": {
      "ai_languageModel": [
        [
          {
            "node": "Cover Letter Maker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Scoring AI": {
      "ai_languageModel": [
        [
          {
            "node": "J*b scoring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "61c855ff-8345-498d-8380-fe503abc9af4",
  "meta": {
    "instanceId": "950be6cb17892fd99b27aa26075cc6cc7f1d471e20e173514485a623de9b6ef2"
  },
  "id": "F0Lybh2Y7aHB37FH",
  "tags": []
}