Automatic Gmail Labeler/Gmail Labels.json
{
  "name": "Gmail Labels",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        288,
        16
      ],
      "id": "037ab8f5-e7da-45a9-9dc9-2e6ac14f3de6",
      "name": "Gmail Trigger",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "Promotions",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "4244ddd3-5eac-4df4-af23-80af5de05120"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "88809854-7fae-40fb-8297-26e8d5e3d72a",
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "Social",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7c0c5e44-7ee9-4e86-b481-a41ef1687c20",
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "Misc",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a9e38e90-c779-423e-9ad5-a1a138e3d994",
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "Security",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6ef734b1-6ede-49e7-8179-c347ebfb7224",
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "Jobs",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7a3abd34-59f0-41f0-bd7b-aa4079195020",
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "O",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "714a4a74-756f-477e-beb1-4a06bd2ed26e",
                    "leftValue": "={{ $json.content }}",
                    "rightValue": "Personal",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        864,
        -64
      ],
      "id": "b11df41d-46ea-4375-a17a-490c46fba0ff",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_2719194884517699257"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        -272
      ],
      "id": "178e206b-f71e-41fc-9fcd-553813a878f0",
      "name": "Promotions",
      "webhookId": "7340e529-b663-4360-889f-231c72dea7e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4583304966061148412"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        -96
      ],
      "id": "0b6e85e7-4cbb-47dd-bcef-c15f43e78b00",
      "name": "Social",
      "webhookId": "7340e529-b663-4360-889f-231c72dea7e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6810812262107676625"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        704
      ],
      "id": "355de42f-c945-4af5-85e7-d1944856ae57",
      "name": "Personal",
      "webhookId": "7340e529-b663-4360-889f-231c72dea7e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_3656886021710495781"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        64
      ],
      "id": "4d74c9b2-09e7-4cb0-b7df-c9cec12a74d4",
      "name": "Misc",
      "webhookId": "7340e529-b663-4360-889f-231c72dea7e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_4282893891896871518"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        224
      ],
      "id": "946babbf-1351-4b73-8214-17b447605eac",
      "name": "Security",
      "webhookId": "7340e529-b663-4360-889f-231c72dea7e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1952,
        -64
      ],
      "id": "e8a737fc-46f7-42b5-8103-7e1b8a16728f",
      "name": "Mark a message as read",
      "webhookId": "ee400a7b-9762-4800-9158-ec42b9f3def3",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=RE:  {{ $('Gmail Trigger').item.json.subject }}",
        "message": "={{ $json.content }}",
        "options": {
          "threadId": "={{ $('Personal').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2192,
        192
      ],
      "id": "d8a1edb9-2134-47ba-b5ac-04683eb41413",
      "name": "Create a draft",
      "webhookId": "cfbcb0c7-00a2-41d2-befd-92e1cbea74f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:8b",
          "mode": "list",
          "cachedResultName": "llama3.1:8b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert email assistant that writes polished, professional replies to incoming emails.\n\nRules:\n1. Write a complete, ready-to-send email response — no placeholders or variables like [Name] or [Date]\n2. Match the tone of the original email — if it's casual, be conversational; if it's formal, be professional\n3. Keep responses concise and to the point\n4. Always sign off with:\n   Best wishes,\n   Aryan Kora\n5. Do not include a subject line, just the body of the reply\n\nEmail to reply to:\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nBody: {{ $('Gmail Trigger').item.json.text }}\n\nWrite the reply now.",
              "role": "assistant"
            },
            {
              "content": "=Sender: {{ $('Gmail Trigger').item.json.to.value[0].address }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $('Gmail Trigger').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1840,
        192
      ],
      "id": "2941da8e-e7b8-4f82-b709-8e7d46067a41",
      "name": "Email Responder",
      "credentials": {
        "ollamaApi": {
          "id": "jjFvlv2L9XFblPF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.1:8b",
          "mode": "list",
          "cachedResultName": "llama3.1:8b"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an email categorization system. You must respond with ONLY one of these exact categories, no explanation, no punctuation, just the word:\n\nPromotions\nSocials\nPersonal\nSales\nSecurity\nJobs\nMisc\n\nCategories:\n- Promotions: Marketing emails, offers, discounts, sales blasts\n- Socials: Notifications from social platforms (YouTube, Instagram, Facebook, LinkedIn etc.)\n- Personal: Emails requiring attention or a response, time-sensitive, or from real people\n- Orders: Emails related to online shopping and e-commerce — order confirmations, shipping updates, delivery notifications, returns, refunds, tracking information, receipts from online retailers (Amazon, eBay, ASOS etc.)\n- Security: Password resets, login alerts, two-factor authentication, account verification, suspicious activity warnings\n- Jobs: Emails specifically about a job application Aryan has submitted — includes application confirmations, interview invites, rejections, recruiter responses about a specific role. NOT generic job alerts or promotional emails from LinkedIn/Indeed\n- Misc: Anything that doesn't clearly fit the above categories\n\nEmail subject: {{ $json.subject }}\nEmail snippet: {{ $json.text }}\n\nRespond with only the category name.",
              "role": "assistant"
            },
            {
              "content": "=Sender: {{ $('Gmail Trigger').item.json.from.value[0].name }}\nSubject: {{ $('Gmail Trigger').item.json.subject }}\nEmail Body: {{ $('Gmail Trigger').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        512,
        16
      ],
      "id": "fd64e4d5-aefa-416d-81f7-1fde26244805",
      "name": "Email Categoriser",
      "credentials": {
        "ollamaApi": {
          "id": "jjFvlv2L9XFblPF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8031238582282681044"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        384
      ],
      "id": "4d82eddc-ce12-4210-a421-84cdd3321757",
      "name": "J*b",
      "webhookId": "30b48a31-a474-4d6b-ae98-bb04ceb060bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6957902603112946163"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        544
      ],
      "id": "72812ef2-e561-45cd-9ea6-8b21bb630084",
      "name": "Orders",
      "webhookId": "49d00482-39f6-4071-93ac-1cd608766fd3",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Categoriser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Promotions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Misc",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Security",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "J*b",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Misc": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        []
      ]
    },
    "Promotions": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal": {
      "main": [
        [
          {
            "node": "Email Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Responder": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Categoriser": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "246a50d6-3d2d-4512-afbc-93f0359c5a93",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "950be6cb17892fd99b27aa26075cc6cc7f1d471e20e173514485a623de9b6ef2"
  },
  "id": "cXq61f7CFloYtrG4",
  "tags": []
}