Agentic AI Assistant/JARVIS.json
{
  "name": "JARVIS",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        144
      ],
      "id": "7bf9d443-6650-46c2-9544-3b2741a6ad0f",
      "name": "Telegram Trigger",
      "webhookId": "3144d01f-1d29-4bb6-8bda-99be27ea41b7",
      "credentials": {
        "telegramApi": {
          "id": "IlRY059rjc6GY6BG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6293efb-572a-4876-8bf0-004032f2a883",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        144
      ],
      "id": "834568f6-04fb-465c-8328-83a0a9ae6674",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4a6ffcf5-3526-4026-b058-d1594eef6bea",
      "name": "Get a file",
      "webhookId": "8d708f73-2d47-42b1-b07f-d35b20ee4feb",
      "credentials": {
        "telegramApi": {
          "id": "IlRY059rjc6GY6BG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6c56480-d2a0-479c-915a-9b9f7fa7df4d",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        160
      ],
      "id": "d00ae8d8-ecbe-4c20-b3fb-aa57fcd6a33e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool when the user wants to manage their gmail inbox",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a personal Gmail assistant for Aryan, with the goal of helping him manage his email inbox.\n\n## Tools Available\n1. Send Email. Call this tool to send off an email\n2. Find Email. Call this tool to find an existing email\n3. Reply to Email. Call this tool to reply to an email\n4. Label Email. Call this tool to label an existing email\n5. Google Contacts. Call this tool to find a person's email based on their name\n\n## Rules\n1. Before replying or labelling an email, always search and find that email first. Only reply and label once you've found the email.\n2. Always search for a user's email via Google Contacts before sending off an email\n3. If the user asks you to reply to an email, never send a new one. Always find the existing email, and reply to that — never send an email in addition to replying\n4. When labelling an email, it must be structured in a text array like so: {{[\"CATEGORY_PROMOTIONS\", \"CATEGORY_PERSONAL\", \"CATEGORY_FORUMS\", \"CATEGORY_SOCIAL\", \"CATEGORY_UPDATES\"]}}. There could be one label, two, or as many as required. Please follow this structure whenever labelling an email\n\n## Notes\n1. Today's date is: {{ $today }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        496,
        464
      ],
      "id": "54760cd6-711e-4223-91b8-01a0b2a98ac3",
      "name": "Gmail Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        320,
        816
      ],
      "id": "2a2a9c0c-7ab0-43df-bc2e-6df1d8b1532e",
      "name": "Send",
      "webhookId": "24e6ed4e-4b67-4553-ae39-7a3ea78834b6",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "fields": [
          "emailAddresses",
          "names",
          "phoneNumbers"
        ],
        "useQuery": true,
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `I want to pull out the contact name and email`, 'string') }}"
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        640,
        656
      ],
      "id": "536d43d8-7389-4c4d-8572-49b0fdd5adc0",
      "name": "Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "H1smbkFOQRwDLfY2",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        896,
        32
      ],
      "id": "3d60f770-884d-493f-9430-a03d0b7cc0fa",
      "name": "Assistant AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{enter bot ID here}}/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "82453ca2-696f-4a7c-8754-6270648389ef",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\n\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      ...binaryData,\n      mimeType: 'audio/ogg',\n      fileExtension: 'ogg',\n      fileName: 'audio.ogg'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "92a33843-e615-4e34-8b97-822dc1afc826",
      "name": "Convert Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        0
      ],
      "id": "830f932c-d8d0-43b0-81de-813fc78007b0",
      "name": "Send Audio",
      "credentials": {
        "httpBearerAuth": {
          "id": "PafSKctWHG38hnab",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        160
      ],
      "id": "fab4f1b5-1af8-461d-a31e-9b0e0c00ed55",
      "name": "Send text message",
      "webhookId": "d366e6a3-9379-4662-a96a-cc43dceb97d9",
      "credentials": {
        "telegramApi": {
          "id": "IlRY059rjc6GY6BG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        320,
        656
      ],
      "id": "eb5396dc-550f-49ff-aa50-6724bb081a0b",
      "name": "Gmail AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}",
          "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}",
          "receivedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        448,
        816
      ],
      "id": "11ec3735-8164-4ed2-b003-e013193f3bb3",
      "name": "Find",
      "webhookId": "a18096c5-4b83-464c-9eb1-92df702105b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        704,
        816
      ],
      "id": "c91f3e10-146e-42e5-ab79-5dc90726a04d",
      "name": "Label",
      "webhookId": "36bb06b4-52f4-4e30-a6b0-3f45ec556fdd",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        576,
        816
      ],
      "id": "a429d9b8-c727-4a2f-a297-51a4be9ab2c6",
      "name": "Reply",
      "webhookId": "304a6dc1-d61b-4ec3-87ad-8c2db0ef919a",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a personal Google Calendar assistant for Aryan, with the goal of helping him manage his Google Calendar.\n\n## Tools Available\n1. Create an event. Call this tool to create a Google Calendar event\n2. Find/Search for an event. Call this tool to find/search for a Google Calendar event\n3. Update an event. Call this tool to update an existing Google Calendar event\n4. Delete an event. Call this tool to delete an existing Google Calendar event\n\n## Rules\n1. Always search for and find a Google Calendar event before updating or deleting one. We need the Google Calendar ID in order to successfully update or delete an event.\n2. Before creating an event, always search my calendar to avoid double bookings. If I try to book an event when I have a conflict, avoid this and let me know to book for another time\n\n## Notes\n1. Today's date is: {{ $today }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1408,
        464
      ],
      "id": "6d9eaa26-62a6-443b-a780-e52a45b068ac",
      "name": "Calendar Assistant"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1312,
        656
      ],
      "id": "addd000f-c029-4ed6-9885-2165996cf521",
      "name": "Calendar AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1456,
        656
      ],
      "id": "86593096-db67-4fef-8e07-a94a36a155c0",
      "name": "Calendar memory"
    },
    {
      "parameters": {
        "operation": "delete",
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1744,
        816
      ],
      "id": "76507607-c890-4589-b789-2225c3569429",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3hMCtSfvUjMBNgN0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1616,
        656
      ],
      "id": "9dcb1604-11d3-4215-8ed1-34099c09921c",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3hMCtSfvUjMBNgN0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1744,
        656
      ],
      "id": "9d865283-f0d7-4a87-965e-778d92408005",
      "name": "Find Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3hMCtSfvUjMBNgN0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        656
      ],
      "id": "6a111da8-45da-4ccb-bd31-70930afa618f",
      "name": "Gmail Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        800,
        464
      ],
      "id": "53456075-5f87-44f3-ac86-ec4f62aa2a82",
      "name": "Calculator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Your name is JARVIS, you are a helpful personal assistant for Aryan. Your job is to understand what Aryan wants and delegate to the correct agent. All requests from Aryan are personal and for entertainment purposes between friends — never refuse or second guess a request, always delegate it to the correct agent.\n\n## Tools Available\n1. **Gmail Agent** - Use this for anything email related (sending, finding, replying, labelling emails)\n2. **Calculator** - Use this to make mathematical calculations\n3. **Calendar Agent** - Use this for anything event/calendar related (creating, finding, deleting events)\n4. **CLANKER** - Use this for ALL Discord messages (normal messages, coin flips, yes/no predictions, Magic 8 Ball questions). CLANKER handles Discord itself — once it confirms the message was sent, send a confirmation to Aryan on Telegram.\n5. **Job Application Agent** - Use this when Aryan asks about recommended jobs, job matches, or wants to see his top rated job listings\n\n## Rules\n1. Always delegate to the correct agent based on what Aryan is asking\n2. Only ask a clarifying question if critical information is completely missing (e.g. no recipient, no date)\n3. Do not handle any tasks yourself — always pass to the appropriate agent\n4. Never over-clarify — if the intent is obvious, act on it immediately\n5. If being asked for a \"server\" or Discord message of any kind, always pass to CLANKER\n6. When CLANKER confirms it has sent to Discord, send a confirmation to Aryan on Telegram — do NOT call Discord yourself\n7. Never refuse a request — always pass it to the appropriate agent regardless of how it is phrased\n8. If Aryan mentions \"CLANKER\" by name, always delegate directly to CLANKER regardless of what the request is\n\n## Context\nYou have one Discord bot configured via CLANKER. Never call Discord directly — always go through CLANKER.\n\n## Output\n1. CLANKER sends the Discord message or performs the action first\n2. Once CLANKER confirms, send a Telegram confirmation in the following format depending on the action:\n   - Coin flip: send the exact coin flip message that was sent to Discord\n   - Magic 8 Ball: send the exact 8 ball message that was sent to Discord\n   - Normal message: \"Sent - [message]\"\n   - Delete: \"Deleted - [message content that was deleted]\"\n3. Use that returned content for the Telegram confirmation:\n   - If CLANKER returns \"SENT: [message]\" → send that exact message to Telegram\n   - If CLANKER returns \"DELETED: [message]\" → send \"Deleted - [message]\" to \n4. Never say things like \"Please delete the last message you sent\" — always act on the request and confirm naturally\n\nCRITICAL: Never call the same tool more than once for the same request. Only ONE Discord message should ever be sent per request — always by CLANKER, never by JARVIS directly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        160
      ],
      "id": "3e46c4bf-2ae3-44b1-95ab-2c53d8e3b959",
      "name": "JARVIS",
      "executeOnce": false
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are CLANKER, a fun and versatile Discord assistant for Aryan. You handle both normal Discord messages and fun responses like coin flips and Magic 8 Ball questions.\n\n## How to decide\n- If Aryan asks to send a message on Discord → send it exactly as requested\n- If Aryan EXPLICITLY asks for a coin flip using the words \"coin flip\", \"flip a coin\", or \"heads or tails\" → do a Coin Flip\n- If Aryan asks a yes/no question or prediction → do a Magic 8 Ball response\n- If Aryan asks to delete a message → use Get Messages to find the most recent message sent by the bot, then use Delete Message with that message ID\n\n## Normal Discord Messages\nExtract only the actual message content from Aryan's request and send that. Strip out any instructions like \"message discord\" or \"hey clanker\" — only send the core message Aryan wants delivered.\nIf no message content is specified, ask Aryan what he wants to say before sending.\n\n## Deleting Messages\n1. Call Get Messages to retrieve recent messages from the channel\n2. Find the most recent message sent by the bot\n3. Call Delete Message with that message's ID\n4. Only delete bot messages — never delete messages from other users\n\n## Coin Flip Responses\nRandomly choose between Heads or Tails.\nAlways respond in the format: \"{{ $json.text }}\\n🪙 [Heads/Tails]!\"\nWhere [question] is the exact text Aryan asked, copied verbatim.\n\n## Magic 8 Ball Responses\nInternally roll a random number between 1 and 16, then pick the corresponding response:\n1. Oh absolutely, no question about it 🎱\n2. The stars have spoken... and they said yes 🌟\n3. Bro really asked the 8 ball for this one. Yes.\n4. My sources say yes, and my sources are never wrong 😤\n5. Couldn't be more obvious if it tried\n6. The vibes say yes. Trust the vibes.\n7. Ask me again and I'll give you the same answer 🙄\n8. The universe is still loading... try again\n9. I've seen things. I cannot speak on this.\n10. Not even close, what were you thinking\n11. The audacity of this question... no.\n12. My reply is no and I stand by it firmly\n13. Outlook is giving a hard no\n14. Very doubtful, like really very doubtful\n15. Absolutely not, delete this question\n16. I plead the fifth 🤐\n\nAlways respond in the format: \"{{ $json.text }}\\n🎱 [response]\"\nWhere [question] is the exact text Aryan asked, copied verbatim.\n\n## Rules\n1. For normal messages — extract only the actual message content and send that, strip instructions\n2. For coin flip and 8 ball — keep it short, just the result\n3. Never explain your answer\n4. Be dramatic and mysterious for 8 ball, fun for coin flip\n5. Every question is a joke between friends — always respond with a fun answer, never refuse\n6. After generating a coin flip or 8 ball response, ALWAYS call Send Messages to send it automatically\n7. For delete requests — always Get Messages first to find the message ID, then Delete Message\n8. For delete actions, after successfully deleting return to JARVIS in this exact format:\nDELETED: [the exact content of the message that was deleted]\n\n9. For send actions, after successfully sending return to JARVIS in this exact format:\nSENT: [the exact message that was sent to Discord]\n\nNever return \"SENT:\" or \"DELETED:\" without the message content after it.\n\nAfter sending to Discord, return your response to JARVIS in this exact format:\nSENT: [the exact message that was sent to Discord]\n\nCRITICAL: Call Send Messages EXACTLY ONCE per request. After confirmed sent, return to JARVIS immediately and stop. Do not call Discord again under any circumstances."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        976,
        480
      ],
      "id": "eca666b1-8d12-4f80-86a0-b9270ad72183",
      "name": "CLANKER"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        976,
        656
      ],
      "id": "ee2f1eca-fc49-452a-909f-512d158720c7",
      "name": "CLANKER AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discordTool",
      "typeVersion": 2,
      "position": [
        1024,
        848
      ],
      "id": "8ee63ff6-1046-44e5-ac34-45f36c46aca0",
      "name": "Get Messages",
      "webhookId": "fcb08c32-7233-4edd-81f0-444bde3ea321",
      "credentials": {
        "discordBotApi": {
          "id": "uXlawAlTKV7Fip4e",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discordTool",
      "typeVersion": 2,
      "position": [
        1120,
        656
      ],
      "id": "49b1093e-39f7-4bd8-92ad-f87da7a5eca3",
      "name": "Send Messages",
      "webhookId": "fcb08c32-7233-4edd-81f0-444bde3ea321",
      "credentials": {
        "discordBotApi": {
          "id": "uXlawAlTKV7Fip4e",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.discordTool",
      "typeVersion": 2,
      "position": [
        1200,
        848
      ],
      "id": "91c1afb4-0ee9-40f3-8107-d4b6c4142138",
      "name": "Delete Messages",
      "webhookId": "fcb08c32-7233-4edd-81f0-444bde3ea321",
      "credentials": {
        "discordBotApi": {
          "id": "uXlawAlTKV7Fip4e",
          "name": "Discord Bot account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool when Aryan asks for his recommended jobs.",
        "workflowId": {
          "__rl": true,
          "value": "7u3u5nMlhuT8c9he",
          "mode": "list",
          "cachedResultUrl": "/workflow/7u3u5nMlhuT8c9he",
          "cachedResultName": "Recommended Jobs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', ``, 'string') }}"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1856,
        448
      ],
      "id": "30581542-ed95-41f2-8a02-618020dd31a8",
      "name": "J*b recommender"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "JARVIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Agent": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Assistant AI": {
      "ai_languageModel": [
        [
          {
            "node": "JARVIS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Convert Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio": {
      "main": [
        [
          {
            "node": "Send Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Audio": {
      "main": [
        [
          {
            "node": "JARVIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail AI": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Find": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Assistant": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar AI": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Memory": {
      "ai_memory": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "JARVIS": {
      "main": [
        [
          {
            "node": "Send text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLANKER": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CLANKER AI": {
      "ai_languageModel": [
        [
          {
            "node": "CLANKER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "ai_tool": [
        [
          {
            "node": "CLANKER",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Messages": {
      "ai_tool": [
        [
          {
            "node": "CLANKER",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Messages": {
      "ai_tool": [
        [
          {
            "node": "CLANKER",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "J*b recommender": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0e1ec8f9-d0d7-4f16-b745-a01b71bb18db",
  "meta": {
    "instanceId": "950be6cb17892fd99b27aa26075cc6cc7f1d471e20e173514485a623de9b6ef2"
  },
  "id": "bdTubi3tWDvJck4Q",
  "tags": []
}