Agentic AI Assistant/JARVIS.json
{
  "name": "JARVIS V2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        144
      ],
      "id": "ad6b9696-5db7-4c06-a0d0-d5e794dd42d9",
      "name": "Telegram Trigger",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "IlRY059rjc6GY6BG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6293efb-572a-4876-8bf0-004032f2a883",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        144
      ],
      "id": "27e4de7e-3591-4670-aa12-8d600968e268",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "fcbdb83e-9eca-490e-a85a-73102d088a42",
      "name": "Get a file",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "IlRY059rjc6GY6BG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6c56480-d2a0-479c-915a-9b9f7fa7df4d",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        160
      ],
      "id": "a16dd5f7-4205-4e7b-bd84-b00cd79f1d13",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool when the user wants to manage their gmail inbox",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a personal Gmail assistant for Aryan, with the goal of helping him manage his email inbox.\n\n## Tools Available\n1. Send Email. Call this tool to send off an email\n2. Find Email. Call this tool to find an existing email\n3. Reply to Email. Call this tool to reply to an email\n4. Label Email. Call this tool to label an existing email\n5. Google Contacts. Call this tool to find a person's email based on their name\n\n## Rules\n1. Before replying or labelling an email, always search and find that email first. Only reply and label once you've found the email.\n2. Always search for a user's email via Google Contacts before sending off an email\n3. If the user asks you to reply to an email, never send a new one. Always find the existing email, and reply to that — never send an email in addition to replying\n4. When labelling an email, it must be structured in a text array like so: {{[\"CATEGORY_PROMOTIONS\", \"CATEGORY_PERSONAL\", \"CATEGORY_FORUMS\", \"CATEGORY_SOCIAL\", \"CATEGORY_UPDATES\"]}}. There could be one label, two, or as many as required. Please follow this structure whenever labelling an email\n\n## Notes\n1. Today's date is: {{ $today }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        672,
        368
      ],
      "id": "eeda13f6-ec1e-44d9-953d-36c89f954039",
      "name": "Gmail Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        496,
        720
      ],
      "id": "9aa06b03-1777-47dd-b171-3b1941cdca66",
      "name": "Send",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "fields": [
          "emailAddresses",
          "names",
          "phoneNumbers"
        ],
        "useQuery": true,
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `I want to pull out the contact name and email`, 'string') }}"
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        816,
        560
      ],
      "id": "ac916a36-bd6b-4d63-acf8-d3d3bf5ccde1",
      "name": "Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "H1smbkFOQRwDLfY2",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        896,
        32
      ],
      "id": "66bc1ea9-2e1f-4d10-a8d1-db0b6056c7b5",
      "name": "Assistant AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "f366d004-9f61-414d-a302-7e1dfc35620d",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $input.first().binary.data;\n\nreturn [{\n  json: {},\n  binary: {\n    data: {\n      ...binaryData,\n      mimeType: 'audio/ogg',\n      fileExtension: 'ogg',\n      fileName: 'audio.ogg'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "c1d329f6-747c-47de-8e60-fa939518cb01",
      "name": "Convert Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        0
      ],
      "id": "e5446b13-6670-4b36-9b2f-a67315a5179e",
      "name": "Send Audio",
      "credentials": {
        "httpBearerAuth": {
          "id": "PafSKctWHG38hnab",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        160
      ],
      "id": "371bb7d9-7339-4e58-b44b-16387c69be08",
      "name": "Send text message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "telegramApi": {
          "id": "IlRY059rjc6GY6BG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        560
      ],
      "id": "11b91893-61ea-4e6c-a147-d65fd57258da",
      "name": "Gmail AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}",
          "receivedAfter": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}",
          "receivedBefore": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        624,
        720
      ],
      "id": "4fb8ec14-a002-48a7-b91a-3ccdf7ac6f86",
      "name": "Find",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        880,
        720
      ],
      "id": "69f34ef7-54ed-40eb-85e1-d665c1e97a0c",
      "name": "Label",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        752,
        720
      ],
      "id": "46787529-55c0-46a1-b377-7355b08ba0ab",
      "name": "Reply",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "9N5wVsU7GWQb0hTe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1056,
        32
      ],
      "id": "e597aaad-b08d-420b-85eb-f455c7aab6b6",
      "name": "JARVIS Memory"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a personal Google Calendar assistant for Aryan, with the goal of helping him manage his Google Calendar.\n\n## Tools Available\n1. Create an event. Call this tool to create a Google Calendar event\n2. Find/Search for an event. Call this tool to find/search for a Google Calendar event\n3. Update an event. Call this tool to update an existing Google Calendar event\n4. Delete an event. Call this tool to delete an existing Google Calendar event\n\n## Rules\n1. Always search for and find a Google Calendar event before updating or deleting one. We need the Google Calendar ID in order to successfully update or delete an event.\n2. Before creating an event, always search my calendar to avoid double bookings. If I try to book an event when I have a conflict, avoid this and let me know to book for another time\n\n## Notes\n1. Today's date is: {{ $today }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1536,
        368
      ],
      "id": "474d5fdc-2068-46a8-9773-7cedf2f3b38b",
      "name": "Calendar Assistant"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1440,
        544
      ],
      "id": "00f33b75-4f2b-447a-ac36-9b3659468855",
      "name": "Calendar AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1584,
        544
      ],
      "id": "dd98ba90-5d76-4219-9529-0fbafc06dee7",
      "name": "Calendar memory"
    },
    {
      "parameters": {
        "operation": "delete",
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1872,
        704
      ],
      "id": "08692cf9-65da-40db-8dc0-152007279fff",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3hMCtSfvUjMBNgN0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1744,
        544
      ],
      "id": "47927eca-7902-44a2-8505-3e7abe5de1c1",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3hMCtSfvUjMBNgN0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1872,
        544
      ],
      "id": "0118bf04-dc85-47d0-ad2e-a32a4f38c15a",
      "name": "Find Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3hMCtSfvUjMBNgN0",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Your name is JARVIS, you are a helpful personal assistant for Aryan. Your job is to understand what Aryan wants and delegate to the correct agent.\n\n## Tools Available\n1. **Gmail Agent** - Use this for anything email related (sending, finding, replying, labelling emails)\n2. **Calculator** - Use this to make mathematical calculations\n3. **Discord Webhook** - Use this to send messages on discord\n3. **Calendar Agent** - Use this for anything event/calendar related (creating, finding, deleting events)\n\n## Rules\n1. Always delegate to the correct agent based on what Aryan is asking\n2. Only ask a clarifying question if critical information is completely missing (e.g. no recipient, no date)\n3. Do not handle any tasks yourself — always pass to the appropriate agent\n4. Do not ask which channel to send to for Discord — just pass the message to the Discord Agent as-is\n5. Never over-clarify — if the intent is obvious, act on it immediately\n6. If being asked for a \"server\" default to sending a message on discord\n\n## Context\nYou have one Discord webhook configured. Always send messages to this webhook regardless of what channel is mentioned. Never ask which channel to use — just send the message.\n\nCRITICAL: Never call the same tool more than once for the same request.\nOnce the task is complete with no errors, respond with a simple confirmation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        160
      ],
      "id": "a23bca4d-be95-4482-87e5-e71799bcf49a",
      "name": "JARVIS",
      "executeOnce": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        560
      ],
      "id": "dc38beb0-6fe0-4eec-a4e8-e343617f4652",
      "name": "Gmail Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        976,
        368
      ],
      "id": "e7fc5be5-975a-462a-8404-f4cf75e05858",
      "name": "Calculator"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool when the user wants to send messages on discord",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a Discord messaging agent for Aryan.\n\n## Tools Available\n1. **Send Discord Message** - Sends a message to Discord on Aryan's behalf\n\n## Rules\n1. Send messages EXACTLY as Aryan requests — do not paraphrase or modify the content\n2. If no message content is specified, ask Aryan what he wants to say before sending\n\nCRITICAL: Send each message ONCE only. Never call the Send Discord Message tool more than once per request. If the message has been sent, stop immediately and confirm to Aryan."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1120,
        368
      ],
      "id": "27927ca2-f0e0-48b5-8773-f762ed27a39f",
      "name": "Discord Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1120,
        560
      ],
      "id": "e3e08c01-d7b4-465e-96e4-be7ef0b12652",
      "name": "Discord AI",
      "credentials": {
        "groqApi": {
          "id": "0MGT4f3kMYipdbTC",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discordTool",
      "typeVersion": 2,
      "position": [
        1264,
        560
      ],
      "id": "1c3328f0-7d1c-4d9e-af09-6686179b5f5a",
      "name": "Bot Message",
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "discordBotApi": {
          "id": "uXlawAlTKV7Fip4e",
          "name": "Discord Bot account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "JARVIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Agent": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Assistant AI": {
      "ai_languageModel": [
        [
          {
            "node": "JARVIS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Convert Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Audio": {
      "main": [
        [
          {
            "node": "Send Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Audio": {
      "main": [
        [
          {
            "node": "JARVIS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail AI": {
      "ai_languageModel": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Find": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply": {
      "ai_tool": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "JARVIS Memory": {
      "ai_memory": [
        [
          {
            "node": "JARVIS",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Assistant": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar AI": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar memory": {
      "ai_memory": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "JARVIS": {
      "main": [
        [
          {
            "node": "Send text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Memory": {
      "ai_memory": [
        [
          {
            "node": "Gmail Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord Agent": {
      "ai_tool": [
        [
          {
            "node": "JARVIS",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Discord AI": {
      "ai_languageModel": [
        [
          {
            "node": "Discord Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Bot Message": {
      "ai_tool": [
        [
          {
            "node": "Discord Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8350d7da-f9e3-443b-9560-93b3ab4bca98",
  "meta": {
    "instanceId": "950be6cb17892fd99b27aa26075cc6cc7f1d471e20e173514485a623de9b6ef2"
  },
  "id": "1tuR4aNoxrIOjTmj",
  "tags": []
}